$primary-color: #032541;
$gray: #f8f9fa;
$gray-light: #acacac;
$black-light: #0d0d0d;
$green: #1ed5a9;
$blue: #032541;

$phone: 575px;
$phoneLarge: 768px;
$tablet: 994px;
$desktop: 1200px;

$container: 1320px;

$font-size-xsl: 9px;
$font-size-xs: 10px;
$font-size-base: 11px;
$font-size-md: 12px;
$font-size-lg: 16px;

$font-line-height-xs: 14px;
$font-line-height-base: 15px;
$font-line-height-md: 16px;
$font-line-height-lg: 22px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;